body {
    margin: 0;
}
#div1 { 
        width: 100%;
        height: 400px;
        background-image: url("China.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
        display: flex; 
        align-items: center;
        justify-content: center; 
} 
#div1 {
        color: white; 
        font-size: 25px; 
        text-shadow: 2px 2px 4px black; 
        margin: 0; }
#div2 {
        padding: 20px;
}
    
.navbar{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
        float:left;
 }
    
.navbar a{
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        font-size:30px;
}
.navbar a:hover{
        background-color: rgb(41, 39, 39);
 }
#bar{
        position:sticky;
        top:0;
        background-color:#2f3030;
        padding:6px 20px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        z-index:9999;
}

    #bar .topbar a{
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbarr{
        width: 100%;
        background-color: #d7d7d7;
        padding: 40px 20px;
        box-sizing: border-box;
    }

    .navbarr h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 2rem;
        margin: 0;
        color: black;
    }

    .navbarr p{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1rem;
        color: black;

    }

    .navbarr a:hover{
        color: red;
    }

    .images{
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
        gap: 20px;
    }


    .image-box{
        position: relative;
        overflow: hidden;
        flex: 1;
        width: 250px;
        height: 500px;
        border-radius: 15px;
        cursor: pointer;

    }
    
    .image-box:hover img{
    filter: blur(2px);
    
    }

    .image-box:hover .hover-img{
        opacity: 1;
    }

    .image-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: 0.5s ease;


    }

    .hover-img{
        position: absolute;
        padding: 20px;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        transition: 0.5s ease;
        opacity: 0;
        pointer-events: none;
        font-size: 18px;
        
    }
    .tour-grid{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 20px;
        gap: 25px;
        font-family: Arial,sans-serif;
    }
    .tour-box{
        background: white;
        border-radius:10px;
        overflow:hidden;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        transition: 0.3s ease;
    }
    .tour-box:hover{
        transform: translateY(-5px);
    }
    .tour-box img{
        height: 200px;
        width:100%;
        object-fit: cover;
    }
    .tour-box h3{
        padding:15px;
        margin:0;
        font-size:17px;
    }
    .nights, .price{
        padding: 0 15px;
        margin: 5px 0;
        color: black;
        font-size: 15px;
    }
    .price{
        font-weight: bold;
        color: red;
    }
    .holidays{
    text-align:center; 
    font-size: 25px; 
    background-color: #dddddd;
    padding:20px; 
    padding-bottom:0px;
    margin-bottom: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#media {
    background-color: white;
    padding: 20px; 
    text-align: center;
}
#media h3 {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.medias a{
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.3s;
}
.medias a:hover {
    opacity: 0.7;
}

.socials-footer{
    width: 100%;
    position: fixed;
    padding: 20px 0px;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: white;

}

.logo{
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover{
    opacity: 0.80;
    transform: scale(1.05);
}

