body {
  margin:0px;
  background-color: #d4d4d4;
}
#big-bar{
position: sticky;
  top: 0;
  background-color: #2A3439;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
#big-bar .logo a {
  color: white;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  float:left;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size:30px;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}
.layout {
 display: grid;
 grid-template-columns: 750px 1fr; 
 gap: 20px;
 padding: 20px;
}
.left{
  background-color: #778899;
  border-radius: 80px;
  border: 1px solid #ccc;
  margin-top: 10px;
  text-align:center;
  width:750px;
  height:800px;
  overflow-y:auto;
  color:aliceblue;
}
.country-grid{
  display:grid;
  grid-gap:10px;
  grid-template-columns: 300px 300px;
  grid-template-rows: 400px 400px;
}
.container{
  border-radius: 20px;
  color: white;
  padding-top: 0px;
  box-sizing:border-box;
  border: solid #444;
  text-align:center;
}
.t-left{
  grid-column:1;
  grid-row:1;
  background-image: url("images/mChina.jpg");
  background-position:center;
  background-size:cover;
  background-color:transparent;
}
.t-left:hover{
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode:multiply;
  transition:background-color 0.3s ease;
}
.t-right{
  grid-column:2;
  grid-row:1;
  background-image: url("images/mPortugal.png");
  background-position:center;
  background-size:cover;
  background-color:transparent;
}
.t-right:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode:multiply;
  transition: background-color 0.3s ease;
}
.b-left{
  grid-column:1;
  grid-row:2;
  background-image: url("images/mSweden.jpg");
  background-position:center;
  background-size:cover;
  background-color:transparent;
}
.b-left:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode:multiply;
  transition:background-color 0.3s ease;
}
.b-right{
  grid-column:2;
  grid-row:2;
  background-image: url("images/mAustralia.jpg");
  background-position:center;
  background-size:cover;
  background-color:transparent;
}
.b-right:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode:multiply;
  transition: background-color 0.3s ease;
}
.email{ 
  width: 100%; 
  max-width: 1000px; 
  margin: 40px auto; 
  padding: 40px 20px; 
  font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;
} 
.email-title{ 
  text-align: center; 
  margin-bottom: 30px; 
  font-size: 25px; 
} 
.email-text{ 
  display: flex; 
  gap: 40px; 
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap; 
  max-width: 900px; 
  width: 100%; 
  margin: 0; 
}
.email-images{ 
  flex: 1.2; 
  max-width: 500px; 
  position: relative; 
}
.email-images img{ 
  width: 100%; 
  border-radius: 12px; 
  display: block; 
}
.email-form{ 
  flex: 1; 
  max-width: 400px; 
  background: white; 
  border: 1px solid grey; 
  border-radius: 10px; 
  padding: 20px; 
  box-sizing: border-box; 
} 
.email-form input[type="text"]{ 
  margin-top: 18px; 
  width: 100%; 
  padding: 10px; 
  border-width: 1px; 
  border-style: solid;
  border-color: grey; 
  border-radius: 10px; 
  font-size: 15px; 
} 
.check-box{ 
  display: flex; 
  align-items: flex-start; 
  margin-top: 20px;
  font-size: 15px; 
  gap: 10px; 
} 
.subscribe-btn{ 
  cursor: pointer; 
  width: 100%; 
  font-size: 15px; 
  color: white; 
  margin-top: 25px; 
  padding: 14px; 
  background: #ff2626; 
  border: none; 
  border-radius: 8px; 
} 
.subscribe-btn:hover{ 
  background: #660000; 
} 
.socials{ 
  display: flex; 
  gap: 10px; 
  margin-top: 15px; 
}
.socials img{ 
  height: 30px; 
  width: 30px; 
  cursor: pointer; 
  transition: 0.2s
} 
.socials img:hover{ 
  transform: scale(1.15); 
}



