body {
  margin:0px;
  background-color: #FBFBF8;
}
#big-bar{
position: sticky;
  top: 0;
  background-color: #2A3439;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
#big-bar .logo a {
  color: white;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  float:left;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size:30px;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}